@import url(animation.css);
@font-face {
  font-family:'njicon';
  src: url('//at.alicdn.com/t/font_1456800212_0684001.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1456800212_0684001.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1456800212_0684001.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1456800212_0684001.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1456800212_0684001.svg#iconfont') format('svg'); /* iOS 4.1- */
}       
.nj-icon:before{font:16px 'njicon';display:inline-block;}

.nj-icon-menu:before{content:'\e605';}
.nj-icon-left:before{content:'\e607';}
.nj-icon-right:before{content:'\e608';}
.nj-icon-close{cursor:pointer;}
.nj-icon-close:hover{color:red;}
.nj-icon-close:before{content:'\e600';font-size:14px;}

.nj-icon-arrow-bottom:before{content:'\e601';}


.v_show{visibility:visible}
.v_hide{visibility:hidden}
.d_show{display:block}
.d_hide{display:none}
                    
.nj-layer-wrap,.ng-layer-wrap{display:inline;}
.nj-mask div{position:fixed;top:0;left:0;z-index:200;width:100%;height:100%;transition:opacity 0.4s;
    background:rgba(0,0,0,.2);
    
}


/*popup*/
.nj-popup{position:fixed;background:#fff;box-shadow:0 0 6px rgba(0,0,0,.3);border:1px solid #ddd\9;z-index:199;width:480px;
  transition:transform .3s,opacity .3s;}
.nj-popup.popup-active{z-index:201;}
.nj-popup ._head{padding:9px 15px;font-size:14px;}
.nj-popup ._close{position:absolute;right:9px;top:9px;cursor:pointer}
.nj-popup ._close:before{content:'\e600';font:14px/1 'njicon';}
.nj-popup ._close:hover{color:red;}
.nj-popup ._body{padding:20px;}
.nj-popup ._foot{padding:9px 20px 20px;text-align:center;bottom:0;left:0;width:100%;box-sizing:border-box;}
.nj-popup ._foot button{margin:0 5px;}
.nj-popup ._foot .nj-button-flat{margin:0;}

.popup-tip{width:auto;min-width:240px;background:rgba(255,255,255,.85)}
.popup-tip ._body{padding:0 20px 20px;color:#000;}
.popup-tip .tip-area{text-align:center;line-height:30px;}
.popup-tip .nj-icon:before{font-size:30px;display:inline-block;vertical-align:top;margin-right:9px;line-height:30px;}
.popup-tip .tip_text{color:#666;}

.popup-confirm .nj-icon-warn{float:left;}
.popup-confirm ._content{padding:7px 0 0 35px;}

/*loading*/
.nj-icon-loading:before{content:'\e604';animation:njRotate 1s linear infinite;color:#999;}
.nj-icon-ok:before{content:'\e606';color:#00BE00;}
.nj-icon-warn:before{content:'\e609';color:#f60;}
.nj-icon-error:before{content:'\e60a';color:red;}


.nj-popover-inner{background:#fff;border:1px solid #ddd\9;z-index:190;width:auto;box-shadow:1px 1px 5px rgba(0,0,0,.2);}


/*buttons*/
.nj-button{padding:0 18px;cursor:pointer;border:none;color:#333;background:#fff;position:relative;border-radius:2px;overflow:visible;
  box-shadow:0px 1px 3px rgba(0,0,0,.12), 0px 1px 4px rgba(0,0,0,0.12);font:13px/31px 'arial','microsoft yahei';transition:all .2s;}

.nj-button:before{content:'';position:absolute;width:100%;height:100%;top:0;left:0;opacity:0;background:#999;background:none\9;
  border:1px solid\9;border-color:#F7F7F7 #e8e8e8 #dcdcdc\9;transition:all .3s;border-radius:3px;}
.nj-button:not([disabled]):hover:before{opacity:0.2;}
.nj-button:active{position:relative;box-shadow:1px 1px 2px rgba(0,0,0,.16),0 3px 9px rgba(0,0,0,.16);}
.nj-button:not([disabled]):active:before,.nj-button-active:before{opacity:0.35;}

.nj-button-flat{background:none;box-shadow:none!important;padding:0 12px;min-width:auto!important;}
.nj-button-gray{background:#aaa;}
.nj-button-red{background:#FF4081;}
.nj-button-blue{background:#0BF;}

.nj-button-gray,.nj-button-red,.nj-button-blue{color:#fff;}
.nj-button-gray:before,.nj-button-red:before,.nj-button-blue:before{background:#fff;background:none\9;border:none\9;}

.nj-button+.nj-button{margin-left:9px;}

.nj-button-small{line-height:25px;font-size:12px;padding:0 9px}
.nj-button-big{padding:0 36px;font-size:114%;}
button.nj-button{min-width:80px;}

/*垂直水平居中*/
.ct-img{display:table-cell;vertical-align:middle;text-align:center}
.ct-img img{vertical-align:middle;max-width:100%;max-height:100%;}

.nj-page *{margin:0 3px;}


.nj-scroll-wrap{width:100%;height:100%;overflow:hidden;}
.nj-scroll-item{overflow:hidden;}


.nj-face-pop{width:400px;}
.nj-face-pop .pack li{float:left;width:24px;height:24px;border: 1px solid #fff;cursor:pointer;}
.nj-face-pop .pack li:hover{border-color:#aaa;}
.nj-face-pop .pack img{width:100%;height:100%;}