@import url('./prism.css');
@import url('./gfont.css');

body{font:12px/1.6 arial,'microsoft yahei';color:#666;}
*{margin:0;padding:0;}
ul,li{list-style:none;}
input,button,select{outline:none}

h1,h2,h3,h4{font:600 26px 'Open Sans', 'sans-serif','microsoft yahei';margin:0 0 15px;color:#000;}
h2,h3{font-size:26px;border-bottom:1px solid #e4e4e4;padding:0 0 9px;}
h3{font-size:20px;}
h4{font-size:16px;margin:0 0 9px;}
h4 span{font-size:14px;font-weight:100;}
.red{color:#f30;}

.mb15,p{margin-bottom:15px;}
.mb30{margin-bottom:30px;}
.nj-frame-content pre{padding:0 1em;margin:0 0 15px;border-radius:5px;}


.nj-tree .item:hover{background:#EAE5E2;}
.nj-tree .selected,.nj_tree .selected:hover{background:#E4DAD4;}

.demo-nav{margin:0 0 40px;line-height:1;}
.demo-nav a{color:#666;padding:0 5px;}
.demo-nav a:not(:last-child){border-right:1px solid #bbb;}
.demo-nav .current{color:#f30;}